* text=auto !eol
agenda/agenda_ont/agenda.ont/.classpath -text
agenda/agenda_ont/agenda.ont/.project -text
agenda/agenda_ont/agenda.ont/.settings/org.maven.ide.eclipse.prefs -text
agenda/agenda_ont/agenda.ont/pom.xml -text
agenda/agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/CEType.java -text
agenda/agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/Calendar.java -text
agenda/agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/Event.java -text
agenda/agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/EventDetails.java -text
agenda/agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/Messages.java -text
agenda/agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/Reminder.java -text
agenda/agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/ReminderType.java -text
agenda/agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/TimeInterval.java -text
agenda/agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/service/CalendarAgenda.java -text
agenda/agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/service/CalendarUIService.java -text
agenda/agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/service/ExternalCalendar.java -text
agenda/agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/service/MobileDevice.java -text
agenda/agenda_ont/agenda.ont/src/main/resources/gr/anco/persona/agenda/ont/messages_da.properties -text
agenda/agenda_ont/agenda.ont/src/main/resources/gr/anco/persona/agenda/ont/messages_en.properties -text
agenda/agenda_ont/agenda.ont/src/main/resources/gr/anco/persona/agenda/ont/messages_es.properties -text
agenda/agenda_ont/agenda.ont/src/main/resources/gr/anco/persona/agenda/ont/messages_it.properties -text
agenda/agenda_ont/agenda.ont/src/main/resources/stable_agenda_db.sql -text
agenda/agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/CEType.class -text
agenda/agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/Calendar.class -text
agenda/agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/Event.class -text
agenda/agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/EventDetails.class -text
agenda/agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/Messages.class -text
agenda/agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/Reminder.class -text
agenda/agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/ReminderType.class -text
agenda/agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/TimeInterval.class -text
agenda/agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/service/CalendarAgenda.class -text
agenda/agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/service/CalendarUIService.class -text
agenda/agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/service/ExternalCalendar.class -text
agenda/agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/service/MobileDevice.class -text
agenda/agenda_ont/eventSelection.ont/.classpath -text
agenda/agenda_ont/eventSelection.ont/.project -text
agenda/agenda_ont/eventSelection.ont/.settings/org.maven.ide.eclipse.prefs -text
agenda/agenda_ont/eventSelection.ont/pom.xml -text
agenda/agenda_ont/eventSelection.ont/src/main/java/gr/anco/persona/eventSelectionTool/ont/EventComparator.java -text
agenda/agenda_ont/eventSelection.ont/src/main/java/gr/anco/persona/eventSelectionTool/ont/EventSelectionTool.java -text
agenda/agenda_ont/eventSelection.ont/src/main/java/gr/anco/persona/eventSelectionTool/ont/FilterParams.java -text
agenda/agenda_ont/eventSelection.ont/src/main/java/gr/anco/persona/eventSelectionTool/ont/TimeSearchType.java -text
agenda/agenda_ont/eventSelection.ont/src/main/java/gr/anco/persona/eventSelectionTool/ont/service/EventSelectionToolService.java -text
health/healt.treat.logger/LICENSE -text
health/healt.treat.logger/NOTICE -text
health/healt.treat.logger/pom.xml -text
health/healt.treat.logger/src/main/java/org/universAAL/AALapplication/health/treat/logger/TreatmentLoggerInterface.java -text
health/healt.treat.logger/src/main/java/org/universAAL/AALapplication/health/treat/logger/TreatmentloggerServices.java -text
health/healt.treat.logger/src/main/java/org/universAAL/AALapplication/health/treat/logger/impl/ContextHistoryHTLImpl.java -text
health/healt.treat.logger/src/main/java/org/universAAL/AALapplication/health/treat/logger/osgi/Activator.java -text
health/healt.treat.manager/LICENSE -text
health/healt.treat.manager/NOTICE -text
health/healt.treat.manager/pom.xml -text
health/healt.treat.manager/src/main/java/org/universAAL/AALapplication/health/treat/manager/TreatmentManagerInterface.java -text
health/healt.treat.manager/src/main/java/org/universAAL/AALapplication/health/treat/manager/TreatmentManagerServices.java -text
health/healt.treat.manager/src/main/java/org/universAAL/AALapplication/health/treat/manager/impl/JenaConverterHTMImpl.java -text
health/healt.treat.manager/src/main/java/org/universAAL/AALapplication/health/treat/manager/osgi/Activator.java -text
health/health.ont/LICENSE -text
health/health.ont/NOTICE -text
health/health.ont/pom.xml -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/Activator.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/measurement/Measure.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/measurement/MultidimensionalMeasure.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/measurement/UnidimensionalMeasure.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/schedule/Event.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/schedule/Task.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/treatment/HealthyHabitsAdoption.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/treatment/MonitorizationMeasures.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/treatment/PhysicalActivity.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/treatment/PhysicalActivityPhase.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/treatment/QuitSmocking.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/treatment/Treatment.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/treatment/TreatmentDetails.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/treatment/TreatmentPlanning.java -text
health/health.ont/src/main/java/org/universAAL/AALapplication/health/ont/treatment/UserHealthProfile.java -text
health/pom/pom.xml -text svneol=unset#text/plain
help_when_out/hwo.mobile/pom.xml -text
help_when_out/hwo.mobile/src/main/java/org/universAAL/AALapplication/hwo/Activator.java -text
help_when_out/hwo.mobile/src/main/java/org/universAAL/AALapplication/hwo/ISubscriber.java -text
help_when_out/hwo.mobile/src/main/java/org/universAAL/AALapplication/hwo/Messages.java -text
help_when_out/hwo.mobile/src/main/java/org/universAAL/AALapplication/hwo/OPublisher.java -text
help_when_out/hwo.mobile/src/main/java/org/universAAL/AALapplication/hwo/SCallee.java -text
help_when_out/hwo.mobile/src/main/resources/org/universAAL/AALapplication/hwo/messages_EN.properties -text
help_when_out/hwo.mobile/src/main/resources/org/universAAL/AALapplication/hwo/messages_ES.properties -text
nutritional/ont.nutrition/.classpath -text
nutritional/ont.nutrition/.project -text
nutritional/ont.nutrition/.settings/org.eclipse.jdt.core.prefs -text
nutritional/ont.nutrition/.settings/org.maven.ide.eclipse.prefs -text
nutritional/ont.nutrition/pom.xml -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/Activator.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/DayOfWeek.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/Dish.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/DishCategory.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/Food.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/FoodCategory.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/FoodSubCategory.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/Ingredient.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/Meal.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/MealCategory.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/MeasureUnit.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/MenuDay.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/NutritionService.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/Recipe.java -text
nutritional/ont.nutrition/src/main/java/org/universAAL/ontology/nutrition/ShoppingList.java -text
nutritional/ont.nutrition/target/classes/META-INF/MANIFEST.MF -text
nutritional/ont.nutrition/target/ont.nutrition-0.0.1-SNAPSHOT.jar -text
personal_safety/pom/pom.xml -text
personal_safety/service/LICENSE -text
personal_safety/service/NOTICE -text
personal_safety/service/pom.xml -text
personal_safety/service/src/main/java/org/universAAL/AALapplication/personal_safety/service/Activator.java -text
personal_safety/service/src/main/java/org/universAAL/AALapplication/personal_safety/service/CSubscriber.java -text
personal_safety/service/src/main/java/org/universAAL/AALapplication/personal_safety/service/ISubscriber.java -text
personal_safety/service/src/main/java/org/universAAL/AALapplication/personal_safety/service/Messages.java -text
personal_safety/service/src/main/java/org/universAAL/AALapplication/personal_safety/service/OPublisher.java -text
personal_safety/service/src/main/java/org/universAAL/AALapplication/personal_safety/service/RiskGUI.java -text
personal_safety/service/src/main/java/org/universAAL/AALapplication/personal_safety/service/SCaller.java -text
personal_safety/service/src/main/resources/messages/messages_DA.properties -text
personal_safety/service/src/main/resources/messages/messages_EN.properties -text
personal_safety/service/src/main/resources/messages/messages_ES.properties -text
personal_safety/service/src/main/resources/messages/messages_IT.properties -text
personal_safety/smp.test-location.publisher/pom.xml -text
personal_safety/smp.test-location.publisher/src/main/java/org/universAAL/samples/testlocation/Activator.java -text
personal_safety/smp.test-location.publisher/src/main/java/org/universAAL/samples/testlocation/GUIPanel.java -text
personal_safety/sms.sender/LICENSE -text
personal_safety/sms.sender/NOTICE -text
personal_safety/sms.sender/pom.xml -text
personal_safety/sms.sender/src/main/java/org/universAAL/AALapplication/personal_safety/sms/Activator.java -text
personal_safety/sms.sender/src/main/java/org/universAAL/AALapplication/personal_safety/sms/EnvioSMSService.java -text
personal_safety/sms.sender/src/main/java/org/universAAL/AALapplication/personal_safety/sms/SMSCallee.java -text
personal_safety/sms.sender/src/main/java/org/universAAL/AALapplication/personal_safety/sms/ServicioSMS.java -text
personal_safety/sms.sender/src/main/java/org/universAAL/AALapplication/personal_safety/sms/messageSender.java -text
personal_safety/sw.panic/LICENSE -text
personal_safety/sw.panic/NOTICE -text
personal_safety/sw.panic/pom.xml -text
personal_safety/sw.panic/src/main/java/org/universAAL/Application/personal_safety/sw/panic/SCallee.java -text
personal_safety/sw.panic/src/main/java/org/universAAL/Application/personal_safety/sw/panic/osgi/Activator.java -text
pom/pom.xml -text
samples/heating/pom.xml -text
samples/heating/src/main/java/org/universAAL/samples/heating/Activator.java -text
samples/heating/src/main/java/org/universAAL/samples/heating/CSubscriber.java -text
samples/heating/src/main/java/org/universAAL/samples/heating/Callee.java -text
samples/heating/src/main/java/org/universAAL/samples/heating/ProvidedServiceTemp.java -text
samples/heating/src/main/java/org/universAAL/samples/heating/ServiceDevice.java -text
samples/heating/src/test/java/principal/ActivatorTest.java -text
samples/test.service.client/pom.xml -text
samples/test.service.client/src/main/java/org/universAAL/AALapplication/testclient/Activator.java -text
samples/test.service/pom.xml -text
samples/test.service/src/main/java/org/universAAL/AALapplication/tstserv/Activator.java -text
samples/test.service/src/main/java/org/universAAL/AALapplication/tstserv/CPublisher.java -text
samples/test.service/src/main/java/org/universAAL/AALapplication/tstserv/CSubscriber.java -text
samples/test.service/src/main/java/org/universAAL/AALapplication/tstserv/SCallee.java -text
samples/test.service/src/main/java/org/universAAL/AALapplication/tstserv/SCalleeProvidedService.java -text
