* text=auto !eol
agenda.remote/LICENSE -text
agenda.remote/NOTICE -text
agenda.remote/bin/.project -text
agenda.remote/bin/.settings/org.maven.ide.eclipse.prefs -text
agenda.remote/bin/LICENSE -text
agenda.remote/bin/NOTICE -text
agenda.remote/bin/pom.xml -text
agenda.remote/bin/src/main/java/es/itaca/tsb/persona/agenda/remote/Activator.class -text
agenda.remote/bin/src/main/java/es/itaca/tsb/persona/agenda/remote/AgendaWebGUI.class -text
agenda.remote/bin/src/main/java/es/itaca/tsb/persona/agenda/remote/ISubscriber.class -text
agenda.remote/bin/src/main/java/es/itaca/tsb/persona/agenda/remote/Messages.class -text
agenda.remote/bin/src/main/java/es/itaca/tsb/persona/agenda/remote/OPublisher.class -text
agenda.remote/bin/src/main/java/es/itaca/tsb/persona/agenda/remote/ProvidedService.class -text
agenda.remote/bin/src/main/java/es/itaca/tsb/persona/agenda/remote/SCallee.class -text
agenda.remote/bin/src/main/java/es/itaca/tsb/persona/agenda/remote/SCaller.class -text
agenda.remote/bin/src/main/resources/es/itaca/tsb/persona/agenda/remote/messages_da.properties -text
agenda.remote/bin/src/main/resources/es/itaca/tsb/persona/agenda/remote/messages_en.properties -text
agenda.remote/bin/src/main/resources/es/itaca/tsb/persona/agenda/remote/messages_es.properties -text
agenda.remote/bin/src/main/resources/es/itaca/tsb/persona/agenda/remote/messages_it.properties -text
agenda.remote/pom.xml -text
agenda.remote/src/main/java/org/universAAL/agenda/remote/Activator.java -text
agenda.remote/src/main/java/org/universAAL/agenda/remote/AgendaWebGUI.java -text
agenda.remote/src/main/java/org/universAAL/agenda/remote/ISubscriber.java -text
agenda.remote/src/main/java/org/universAAL/agenda/remote/Messages.java -text
agenda.remote/src/main/java/org/universAAL/agenda/remote/MyEventComparator.java -text
agenda.remote/src/main/java/org/universAAL/agenda/remote/OPublisher.java -text
agenda.remote/src/main/java/org/universAAL/agenda/remote/ProvidedService.java -text
agenda.remote/src/main/java/org/universAAL/agenda/remote/SCallee.java -text
agenda.remote/src/main/java/org/universAAL/agenda/remote/SCaller.java -text
agenda.remote/src/main/resources/org/universAAL/agenda/remote/messages_da.properties -text
agenda.remote/src/main/resources/org/universAAL/agenda/remote/messages_en.properties -text
agenda.remote/src/main/resources/org/universAAL/agenda/remote/messages_es.properties -text
agenda.remote/src/main/resources/org/universAAL/agenda/remote/messages_hr.properties -text
agenda.remote/src/main/resources/org/universAAL/agenda/remote/messages_it.properties -text
agenda.server/DBquery.prop -text
agenda.server/DBquery.properties -text
agenda.server/LICENSE -text
agenda.server/NOTICE -text
agenda.server/pom.xml -text
agenda.server/src/main/java/org/universAAL/agenda/server/Activator.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/AgendaProvider.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/Messages.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/ProvidedAgendaService.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/database/AgendaDBInterface.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/database/Scheduler.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/database/TimerTaskCollection.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/gui/wrapper/Messages.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/gui/wrapper/SimpleInputSubscriber.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/gui/wrapper/SimpleOutputPublisher.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/gui/wrapper/WrapperActivator.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/unit_impl/AgendaStateListener.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/unit_impl/CheckDatabaseTask.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/unit_impl/CheckEndingEventsTask.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/unit_impl/CheckReminderTask.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/unit_impl/CheckStartingEventsTask.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/unit_impl/MyAgenda.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/unit_impl/MyAgenda.java_old_with_extra_table -text
agenda.server/src/main/java/org/universAAL/agenda/server/unit_impl/SendContextEventTask.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/unit_impl/SendEndEventTask.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/unit_impl/SendReminderTask.java -text
agenda.server/src/main/java/org/universAAL/agenda/server/unit_impl/SendStartEventTask.java -text
agenda.server/src/main/resources/credentials.txt -text
agenda.server/src/main/resources/org/universAAL/agenda/server/gui/wrapper/messages_da.properties -text
agenda.server/src/main/resources/org/universAAL/agenda/server/gui/wrapper/messages_en.properties -text
agenda.server/src/main/resources/org/universAAL/agenda/server/gui/wrapper/messages_es.properties -text
agenda.server/src/main/resources/org/universAAL/agenda/server/gui/wrapper/messages_hr.properties -text
agenda.server/src/main/resources/org/universAAL/agenda/server/gui/wrapper/messages_it.properties -text
agenda.server/src/main/resources/org/universAAL/agenda/server/messages_da.properties -text
agenda.server/src/main/resources/org/universAAL/agenda/server/messages_en.properties -text
agenda.server/src/main/resources/org/universAAL/agenda/server/messages_es.properties -text
agenda.server/src/main/resources/org/universAAL/agenda/server/messages_hr.properties -text
agenda.server/src/main/resources/org/universAAL/agenda/server/messages_it.properties -text
agenda.server/src/main/resources/stable_agenda_db.sql -text
agenda_ont/agenda.ont/.classpath -text
agenda_ont/agenda.ont/.project -text
agenda_ont/agenda.ont/.settings/org.maven.ide.eclipse.prefs -text
agenda_ont/agenda.ont/pom.xml -text
agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/CEType.java -text
agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/Calendar.java -text
agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/Event.java -text
agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/EventDetails.java -text
agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/Messages.java -text
agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/Reminder.java -text
agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/ReminderType.java -text
agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/TimeInterval.java -text
agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/service/CalendarAgenda.java -text
agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/service/CalendarUIService.java -text
agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/service/ExternalCalendar.java -text
agenda_ont/agenda.ont/src/main/java/gr/anco/persona/agenda/ont/service/MobileDevice.java -text
agenda_ont/agenda.ont/src/main/resources/gr/anco/persona/agenda/ont/messages_da.properties -text
agenda_ont/agenda.ont/src/main/resources/gr/anco/persona/agenda/ont/messages_en.properties -text
agenda_ont/agenda.ont/src/main/resources/gr/anco/persona/agenda/ont/messages_es.properties -text
agenda_ont/agenda.ont/src/main/resources/gr/anco/persona/agenda/ont/messages_it.properties -text
agenda_ont/agenda.ont/src/main/resources/stable_agenda_db.sql -text
agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/CEType.class -text
agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/Calendar.class -text
agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/Event.class -text
agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/EventDetails.class -text
agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/Messages.class -text
agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/Reminder.class -text
agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/ReminderType.class -text
agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/TimeInterval.class -text
agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/service/CalendarAgenda.class -text
agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/service/CalendarUIService.class -text
agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/service/ExternalCalendar.class -text
agenda_ont/agenda.ont/target/classes/gr/anco/persona/agenda/ont/service/MobileDevice.class -text
agenda_ont/eventSelection.ont/.classpath -text
agenda_ont/eventSelection.ont/.project -text
agenda_ont/eventSelection.ont/.settings/org.maven.ide.eclipse.prefs -text
agenda_ont/eventSelection.ont/pom.xml -text
agenda_ont/eventSelection.ont/src/main/java/gr/anco/persona/eventSelectionTool/ont/EventComparator.java -text
agenda_ont/eventSelection.ont/src/main/java/gr/anco/persona/eventSelectionTool/ont/EventSelectionTool.java -text
agenda_ont/eventSelection.ont/src/main/java/gr/anco/persona/eventSelectionTool/ont/FilterParams.java -text
agenda_ont/eventSelection.ont/src/main/java/gr/anco/persona/eventSelectionTool/ont/TimeSearchType.java -text
agenda_ont/eventSelection.ont/src/main/java/gr/anco/persona/eventSelectionTool/ont/service/EventSelectionToolService.java -text
