<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc:nutritional.client}"/>
<booleanAttribute key="default" value="true"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="100"/>
<stringAttribute key="deselected_workspace_plugins" value="org.universAAL.tools.ucc,org.universaal.tools.buildPlugin,ri.soap.cxf.service,test1,ucc.karaf.feature*1.0.0.qualifier,ucc.karaf.feature*1.0.0.qualifier"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.5"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-console --obrRepositories=http://a1gforge.igd.fraunhofer.de/nexus/content/repositories/snapshots/repository.xml,http://a1gforge.igd.fraunhofer.de/nexus/content/repositories/releases/repository.xml,http://bundles.osgi.org/obr/browse?_xml=1&amp;amp;cmd=repository --org.ops4j.pax.url.mvn.repositories=+http://a1gforge.igd.fraunhofer.de/nexus/content/groups/public,http://a1gforge.igd.fraunhofer.de/nexus/content/repositories/snapshots@snapshots@noreleases --log=DEBUG"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dosgi.noShutdown=true -Dfelix.log.level=4 -Dorg.universAAL.middleware.peer.is_coordinator=true -Dorg.universAAL.middleware.peer.member_of=urn:org.universAAL.aal_space:test_environment -Dbundles.configuration.location=${workspace_loc}/rundir/confadmin  -Djava.net.preferIPv4Stack=true"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc}/rundir/demo.config"/>
<booleanAttribute key="org.ops4j.pax.cursor.hotDeployment" value="false"/>
<stringAttribute key="org.ops4j.pax.cursor.logLevel" value="INFO"/>
<booleanAttribute key="org.ops4j.pax.cursor.overwrite" value="false"/>
<booleanAttribute key="org.ops4j.pax.cursor.overwriteSystemBundles" value="false"/>
<booleanAttribute key="org.ops4j.pax.cursor.overwriteUserBundles" value="false"/>
<listAttribute key="org.ops4j.pax.cursor.profiles">
<listEntry value="obr"/>
</listAttribute>
<mapAttribute key="org.ops4j.pax.cursor.provisionItems">
<mapEntry key="mvn:org.ufacekit.osgi/swingx.osgi/0.9.2" value="true@true@4@true"/>
<mapEntry key="mvn:org.universAAL.AALapplication/nutritional.client/E.0.1-SNAPSHOT" value="true@true@17@true"/>
<mapEntry key="mvn:org.universAAL.ontology/ont.medication/2.0.0" value="true@true@15@true"/>
<mapEntry key="mvn:org.universAAL.ontology/ont.nutrition/2.0.0" value="true@true@16@true"/>
<mapEntry key="mvn:org.universAAL.ui/ui.dm/2.0.0" value="true@true@4@true"/>
<mapEntry key="mvn:org.universAAL.ui/ui.handler.gui.swing/2.0.0" value="true@true@4@true"/>
<mapEntry key="scan-composite:mvn:org.universAAL.middleware/mw.composite/2.0.0/composite" value="true@true@2@true"/>
<mapEntry key="scan-composite:mvn:org.universAAL.ontology/ont.composite/2.0.0/composite" value="true@true@3@true"/>
<mapEntry key="wrap:mvn:org.apache.axis/axis-jaxrpc/1.4" value="true@true@14@true"/>
<mapEntry key="wrap:mvn:org.apache.axis/axis/1.4" value="true@true@13@true"/>
<mapEntry key="wrap:mvn:org.universAAL.ui/ui.handler.gui.swing.bluesteelLAF/2.0.0@nostart" value="true@true@4@true"/>
</mapAttribute>
<listAttribute key="org.ops4j.pax.cursor.runArguments">
<listEntry value="--overwrite=false"/>
<listEntry value="--overwriteUserBundles=false"/>
<listEntry value="--overwriteSystemBundles=false"/>
<listEntry value="--log=INFO"/>
<listEntry value="--profiles=obr"/>
<listEntry value="scan-composite:mvn:org.universAAL.middleware/mw.composite/2.0.0/composite@2@update"/>
<listEntry value="scan-composite:mvn:org.universAAL.ontology/ont.composite/2.0.0/composite@3@update"/>
<listEntry value="mvn:org.ufacekit.osgi/swingx.osgi/0.9.2@4@update"/>
<listEntry value="mvn:org.universAAL.ui/ui.dm/2.0.0@4@update"/>
<listEntry value="mvn:org.universAAL.ui/ui.handler.gui.swing/2.0.0@4@update"/>
<listEntry value="wrap:mvn:org.universAAL.ui/ui.handler.gui.swing.bluesteelLAF/2.0.0@nostart@4@update"/>
<listEntry value="wrap:mvn:org.apache.axis/axis/1.4@13@update"/>
<listEntry value="wrap:mvn:org.apache.axis/axis-jaxrpc/1.4@14@update"/>
<listEntry value="mvn:org.universAAL.ontology/ont.medication/2.0.0@15@update"/>
<listEntry value="mvn:org.universAAL.ontology/ont.nutrition/2.0.0@16@update"/>
<listEntry value="mvn:org.universAAL.AALapplication/nutritional.client/E.0.1-SNAPSHOT@17@update"/>
</listAttribute>
<stringAttribute key="osgi_framework_id" value="--platform=felix --version=2.0.2"/>
<stringAttribute key="pde.version" value="3.3"/>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="false"/>
</launchConfiguration>
