#map_canvas 
{ 
	position: absolute;
	width: 600px; 
	height: 400px;
	padding: 0.5em;
	border: 1px solid black;
	
	
}

#history
{
	position: absolute;
	display: block;
	margin-left: 650px;
	border: 1px solid black;
	width: 250px;
	height: 400px;
	padding: 0.5em;
	visibility: hidden;
}

#servicetitle
{
	
	border: 1px solid;
	background: #ccc;
	width: 600px;
	padding: 0.5em;
	border: 1px solid black;
	
}
#information
{
	position: absolute;
	display: block;
	margin-left: 650px;
	border: 1px solid black;
	width: 250px;
	height: 400px;
	padding: 0.5em;
}
#options
{
	position: absolute;
	display: block;
	margin-left: 650px;
	border: 1px solid black;
	width: 250px;
	height: 400px;
	padding: 0.5em;
	visibility: hidden;
		
}

#navigation
{
	width: 600px;
	height: 60px; 
	backround-color : gray;
}
