form { text-align: left; padding: 10px 0; }
form table { width: 100%; }
form table:first-child td { vertical-align: middle; }
form table:first-child td.date { width: 200px; }
form table:first-child td.date input { width: 120px; display: block; }
form table:first-child td label { display: inline-block; margin-right: 5px; }
form table:first-child td.notes textarea { display: block; height: 2.5em; width: 99%; min-width: 300px; }
form table#prescription .action { min-width: 10px; text-align: center; vertical-align: middle; }
form table#prescription .action button { width: 80px; }
form table#prescription tr.templ1 td div { min-width: 200px; height: 50px; overflow: auto; }
