h2 span { font-weight: bold; }

table { width: 420px; }
table tr td textarea { height: 50px; overflow: auto; width: 99%; border:none; }
table tr td.notes { min-width: 350px; }
table tr td.medicine div { border-top: 1px dotted; }
table tr td.medicine div:first-child { border-top: none; }
table tr td.medicine div span { display: block; position: relative; font-style: italic; }
table tr td.medicine div span:first-child { font-style: normal; font-weight: bold; }

form > * { float: left; }

.templ { display: none; }
