<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.universAAL.AALapplication.hwo"
    android:versionCode="201312701"
    android:versionName="E.1" >
    
    <uses-permission android:name="android.permission.SEND_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />
    
    <instrumentation
    android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="org.universAAL.AALapplication" />

	<instrumentation
    android:name=".HelpWhenOutdoor"
    android:targetPackage="org.universAAL.AALapplication" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data android:name="org.universAAL.android.metadata" android:resource="@raw/uaal"/>
        
        <activity
            android:name="org.universAAL.AALapplication.hwo.StartupActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="org.universAAL.AALapplication.hwo.engine.contacts.ContactScreen" />
        
        <service
            android:name="org.universAAL.AALapplication.hwo.BackgroundService"
            android:enabled="true"
            android:exported="false" >
        </service>

    </application>

</manifest>
